<div class="footer">
  <ul class="sundesmoi">
    <h3>Χρήσιμοι σύνδεσμοι</h3>
    <li><a href="">Moodle</a></li>
    <li><a href="">Erasmus +</a> </li>
    <li><a href="">Ηλεκ. Υπηρ. Συγγραμμάτων (Εύδοξος)</a></li>
    <li><a href="">Βαθμολογίες Φοιτητών (Uniportal)</a></li>
    <li><a href="">Οδηγός Σπουδών</a></li>
  </ul>

  <ul class="epikoinwnia">
    <h3>Επικοινωνία</h3>
    <li>Τμήμα Μηχανικών Παραγωγής και Διοίκησης, Σίνδος, 57400</li>
    <li>2310-013.939, 2310-013.940</li>
    <li>2310-791.131</li>
    <li>info@iem.ihu.gr</li>
  </ul>
</div>
