.footer{
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  font-family: Bahnschrift;
  background-color: #ebf1f5;

}

.footer ul{
  list-style-type: none;
  text-decoration: none;
  color: black;

}
