<div class="nav">
  <div class="dipae">
    <img src="(../../assets/dipae.jpg" width="15%" height="15%">
  </div >
  <ul class="menuItems">
    <li>
      <a href='#' data-item='home' class="home">Αρχική</a>
    </li>
    <li>
      <a href='#' data-item='mathimataMou' class="mathimataMou">Τα Μαθήματά μου</a>
    </li>
    <li>
      <a href='#' data-item='olaTaMathimata' class="olaTaMathimata">Όλα τα Μαθήματα</a>
    </li>
    <li>
      <a href='#' data-item='myProfile' class="myProfile">Το προφίλ μου</a>
    </li>
    <li>
      <a href='#' data-item='contact' class="contact">Επικοινωνία</a>
    </li>
    <li>
      <a (click)="logout()" href='#' data-item='logout' class="logout">Αποσύνδεση</a>
    </li>
  </ul>
  <!--Media Menu-->
  <div class="lines">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  </div>

