<div class="login">
  <div class="eisodos">
    <div class="logo">
      <img alt="diethnes panepisthmio" height="80px"
           src="../../assets/ihu_logo.png__200x200_q75_background-fff_subsampling-2.png" width="90">
    </div>

    <h1>Είσοδος</h1>
    <br>
    <form (submit)="login()" role="form">
      <div class="error" *ngIf="showError">Username or Password are incorrect</div>
      <div class="username">
        <label for="username"></label>
        <input [(ngModel)]="credentials.username" id="username" name="username" placeholder="Username " required
               type="text">
      </div>
      <div class="password">
        <label for="psw"></label>
        <input [(ngModel)]="credentials.password" id="psw" name="psw" placeholder="Password" required type="password">
      </div>
      <button id="submit" type="submit">Log in</button>
    </form>

  </div>
</div>
