
<mat-card-header style="text-align: center; font-weight: bold">
  <mat-card-title style="font-weight: bold">{{ mathima.name }}</mat-card-title>
</mat-card-header>

<mat-card>
  <mat-card-header style="text-align: center; margin-top: 30px">
    <mat-card-title>Ανακοινώσεις Μαθήματος</mat-card-title>
  </mat-card-header>

  <mat-card>
    <div class="mat-elevation-z1">
      <mat-card-actions>
        <button *ngIf="isTeacher && isEnrolled" (click)="createanakoinwsh()" mat-raised-button style="margin: 8px; left:80%">+ Προσθήκη Ανακοίνωσης</button>
      </mat-card-actions>

      <mat-card-content *ngIf="emtyAnakoinoseisList">
        <p> Δεν υπάρχουν ανακοινώσεις</p>
      </mat-card-content>
      <table [dataSource]="anakoinwseis" mat-table matSort *ngIf="!emtyAnakoinoseisList">


        <ng-container matColumnDef="content">
          <th *matHeaderCellDef mat-header-cell style="font-weight: bold">Ανακοίνωση</th>
          <td *matCellDef="let element" mat-cell>
            {{ element.content }}
          </td>
        </ng-container>


        <ng-container matColumnDef="created_by">
          <th *matHeaderCellDef mat-header-cell mat-sort-header style="font-weight: bold">Δημιουργός</th>
          <td *matCellDef="let element" mat-cell>
            {{ element.user.fullName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="creation_timestamp">
          <th *matHeaderCellDef mat-header-cell mat-sort-header style="font-weight: bold">Ημερομηνία Δημιουργίας</th>
          <td *matCellDef="let element" mat-cell>
            {{ element.creation_timestamp | date: 'dd/MM/yyyy HH:mm:ss'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="delete" >
          <th *matHeaderCellDef mat-header-cell >Διαγραφή Ανακοίνωσης</th>
          <td *matCellDef="let element" mat-cell>
            <button  style="color: #cc2828" (click)="deleteAnakoinwsi(element)" mat-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr> //metavlhth pou periexei poies metavlhtes tha fainontai sto xrhsth pou mporei na tis epeksergastei
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>

  </mat-card>
</mat-card>

<!--telos anakoinwsewn-->

<mat-card>
  <mat-card-header style="text-align: center; margin-top: 30px">
    <mat-card-title>Βίντεο Μαθήματος</mat-card-title>
  </mat-card-header>
<mat-card>
  <mat-card-actions>
    <button *ngIf="isTeacher && isEnrolled" (click)="uploadVideo()"  mat-raised-button style="margin: 8px; left:80%">
      Upload video
    </button>
  </mat-card-actions>

  <mat-card-content *ngIf="!emtyVideoList" class="mat-card-container">
    <div class="container-fluid" style="padding: 0;">
      <div class="row">
        <div class="col-md-2 col-sm-12">
          <mat-form-field>
            <input [(ngModel)]="searchUsername" matInput
                   placeholder="Username">
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-12">
          <mat-form-field>
            <input [(ngModel)]="searchVideoName" matInput
                   placeholder="Video Name">
          </mat-form-field>
        </div>



      </div>
    </div>
  </mat-card-content >
  <mat-card-actions *ngIf="!emtyVideoList">
    <button (click)="onChange()" color="primary" mat-raised-button type="submit">
      <mat-icon>search</mat-icon>
      Search
    </button>
    <button (click)="toggleDate()" color="primary" mat-raised-button style="margin-left: 10px">
      <mat-icon>access_time</mat-icon>
      Sorted by uploaded time ({{sortedTime}})
    </button>
    <button (click)="youtubeOnly()" color="primary" mat-raised-button style="margin-left: 10px">Youtube Videos</button>
    <button mat-raised-button color="primary" (click)="topRated()" style="margin-left: 10px">Top Rated</button>
    <button (click)="uploaded()" color="primary" mat-raised-button style="margin-left: 10px" >Uploaded</button>

  </mat-card-actions>
</mat-card>

<!--Videos-->
  <mat-card-content *ngIf="emtyVideoList">
    <p> Δεν υπάρχουν βίντεο</p>
  </mat-card-content>

  <mat-card-content *ngIf="!emtyVideoList">

    <mat-grid-list cols="2" rowHeight="550px" style="margin-top: 10px;">
      <mat-grid-tile *ngFor="let video of filtered">
        <mat-card class="my-card" style="bottom: 5px;">
          <mat-card-title *ngIf="video.decodedname!=null">
            {{video.originalname.substring(0, video.originalname.lastIndexOf("."))}}
            <p style="font-size:small; word-break: break-all;">Μάθημα: {{video.mathima.name}} </p>
          </mat-card-title>
          <mat-card-title *ngIf="video.decodedname===null" >
            {{video.originalname}}
            <p style="font-size:small; word-break: break-all;">Μάθημα: {{video.mathima.name}} </p>
          </mat-card-title>
          <mat-card-content>
            <div style="display: block">
              <div style="float:left">
                <video *ngIf="video.decodedname!=null" controls controlsList="nodownload" id="videoPlayer"
                       muted="muted" width="400" height="222">
                  <source src="http://localhost:4000/video/playvideo?decodedname={{video.decodedname}}"
                          type="video/mp4"/>
                </video>
                <youtube-player *ngIf="video.decodedname===null" [height]="222" [width]="400"
                                videoId="{{video.youtube_url}}"></youtube-player>
              </div>
              <br>
              <div style="float:bottom; padding-left: 7px; padding-top: 3px; display: block">


                                                            <span><ngb-rating (rateChange)="changeRate($event, video)" [(rate)]="video.sum_rate"
                                                                              [max]="5"
                                                                              [readonly]="video.has_been_rated"

                                                            ></ngb-rating>
                                                                ({{video.number_of_reviews}})
                                                            </span>

                <p style="font-size: medium;">
                  Author: <button class="teacher" (click)="goToKathigitis(video.user)">{{video.user.username}}</button>
                </p>
                <div>
                  <p style="font-size: medium; float: left">
                    Uploaded: {{video.creation_timestamp | date: 'dd/MM/yyyy HH:mm'}}
                  </p>

                  <button *ngIf="video.isAllowed" style="color: #cc2828; float: right; font-size: 50px " (click)="deleteVideo(video)" mat-button>
                    <mat-icon style="font-size: 25px">delete</mat-icon>
                  </button>
                </div>


              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
<!--  <mat-paginator  [length]="length"-->
<!--                  [pageSize]="pageSize"-->
<!--                  [pageSizeOptions]="pageSizeOptions">-->
<!--    &lt;!&ndash;                                  (page)="OnPageChange($event)">&ndash;&gt;-->
<!--  </mat-paginator>-->
</mat-card>



