@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
.allsubs {
  background: whitesmoke;
  overflow: auto;
  font-family: Bahnschrift;
}
.mathimata
{
  width: 600px;
  margin: auto;
  color: rgb(0, 0, 0);
  width: 90%;
  min-height: 450px;
  margin: 60px auto;
  padding: 40px 60px ;

 column-count: 3;
  column-rule-style: solid;

}
mat-card-title{
  font-weight: bold;
  text-align: center;
}

a:link{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;
}
.eksamhno, .alfavhtika{
  border-radius: 5px;
  shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
  background-color: #ecf0f3;
  border-color: #ecf0f3;
  padding: 8px;
  box-shadow: 5px 5px 20px #cbced1, -5px -5px 20px #cbced1;;
}



