<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Video Upload Dialog</mat-card-title>
    </mat-card-header>


    <mat-dialog-actions align="center">
      <div style="width: 100%; text-align:center;" class="col-md-2 col-sm-12">

        <mat-form-field>
          <input [(ngModel)]="mathima.name" matInput
                 placeholder="Video Name">
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align:center;">
        <mat-form-field>
          <mat-select [(ngModel)]="mathima.upoxrewtiko" placeholder="Μαθήματα" [multiple]="false">
            <mat-option>

            </mat-option>
            <mat-option  *ngFor="let mathima of mathimata | async" [value]="mathima.id">
              {{ mathima.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="width: 100%; text-align:center;">
        <button (click)="create()"  color="primary" mat-raised-button
                style="margin-left: 20px;">
          <mat-icon>cloud_upload</mat-icon>
          Upload
        </button>
      </div>
    </mat-dialog-actions>
  </mat-card>
</div>
