@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


mat-card {
  background-color: white;
  overflow: auto;
}

mat-card-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

mat-table {
  align-items: center;
}


mat-raised-button a{
  text-decoration: #ecf0f3;
}
mat-paginator{
  background-color: whitesmoke;
}

mat-icon{
size: 25px;
color: #cc2828;
}
mat-header-cell{
  font-weight: bold;
}

